<app-navbar></app-navbar>
<!------------- Main Part ------------>
<div>
    <div class="products py-3">
        <div class="product-text">
          <img class="product-img" style="height:4rem;width: 4rem; margin-left: 2.5rem;" src="../../../assets/ipad-1.svg" alt="">
          <li style="text-align: center; margin-left:0.5rem;"><a>iPad Pro</a></li>
        </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-2.svg" alt="">
            <li style="text-align: center;"><a href="">Pad Air</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-3.svg" alt="">
            <li style="text-align: center;"><a href="">iPad</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width: 4rem;" src="../../../assets/ipad-4.svg" alt="">
            <li style="text-align: center;"><a href="">iPad mini</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-5.svg" alt="">
            <li style="text-align: center;"><a href="">Compare</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-6.svg" alt="">
            <li style="text-align: center;"><a href="">Apple Pencil</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-7.svg" alt="">
            <li style="text-align: center;"><a href="">Keyboards</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-8.svg" alt="">
            <li style="text-align: center;"><a href="">Accessories</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-9.svg" alt="">
            <li style="text-align: center;"><a href="">iPadOS 17</a></li>
          </div>
          <div class="product-text ">
            <img class="product-img" style="height:4rem;width:5rem;" src="../../../assets/ipad-10.svg" alt="">
            <li style="text-align: center;"><a href="">Shop iPad</a></li>
          </div>
      </div>

      <!------------ Just Paragraph ----------------->
      <div>
        <div style="height: 40px; width: 100%;background:#1D1D1F;margin: 0%;">
          <p style="text-align: center; padding: 8px; font-size: 14px; font-weight: 400; color: white">Save up to ₹8000.00 instantly on eligible products with HDFC Bank Credit Cards.* Plus No Cost EMI from most leading banks.#
            <a href="" style="text-decoration: none;">Shop now</a></p>
        </div>
      </div>

      <!-------------- Fisrt Image ----------------->
      <div class="max-w-full h-px[820px]">
        <div>
          <img src="../../../assets/ipad-img1.jpg" alt="">
              <!-- <h1 class="mt-[-20rem] text-5xl font-semibold text-white text-center mt-[-30rem]">iPad Pro</h1>
              <h1 class="mt-[1.1rem] text-2xl font-normal text-white text-center mt-[-25rem]">Supercharged by</h1>
              <h1 class="mt-[1.1rem] text-2xl font-normal text-white text-center mt-[-25rem]">From ₹81900.00*</h1> -->
        </div>
      </div>

      <!-------------- Second Image ----------------->
      <div class="max-w-full h-px[820px]">
        <div style="display: flex;">
          <img class="mx-[15rem]"  style="width:50%;" src="../../../assets/ipad-img-2.jpg" alt="">
        </div>
      </div>

      <!-------------- Third Part This Page ------------->

      <div class="w-[1225px] bg-slate-50 mx-[20px]">
        <h1 class="py-[5rem] text-center text-5xl font-semibold">Which iPad is right for you?</h1>
        <div class="products" style="padding-top: 6rem; display: flex;justify-content: center; background-color:rgb(248 250 252); gap: 2.5rem;">
          <div class="product-text">
            <a style="cursor: pointer;"><img class="image" style="height:10rem;width: 8rem;" src="../../../assets/scnd-ipad-1.png" alt=""></a>
            <h2 class="mt-[1rem] ml-[1.5rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPad Pro</a></h2>
            <!-- <h2 class="ml-[1.5rem]"><a href="" style="color: black;font-size: 1rem;">M1 chip</a></h2> -->
            <h2 class="ml-[1.5rem] py-4"><a href="" style="color: black;font-size: 0.8rem;font-weight: 400;">The ultimate iPad <br> experience with the most<br>advanced technology.</a></h2>
            <h2 class="ml-[1.5rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 600;">From ₹99900.00*</a></h2>
          </div>
            <div class="product-text">
              <a style="cursor: pointer;"><img class="image" style="height:10rem;width:8rem;" src="../../../assets/scnd-ipad-2.png" alt=""></a>
              <h2 class=" mt-[1rem] ml-[1.5rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPad Air</a></h2>
              <!-- <h2 class=""><a href="" style="color: black;font-size: 1rem;">M2 chip</a></h2> -->
              <h2 class="py-4 ml-[1.5rem]"><a href="" style="color: black;font-size: 0.8rem;font-weight: 400;">Serious performance in <br> a thin and light design.</a></h2>
              <h2 class="ml-[1.5rem] mt-[1.3rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹114900.00*</a></h2>
            </div>
            <div class="product-text">
              <a href="" style="cursor: pointer;"><img class="image" style="height:10rem;width:8rem;" src="../../../assets/scnd-ipad-3.png" alt=""></a>
              <h2 class="mt-[1rem] ml-[1.5rem] "><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPad</a></h2>
              <h2 class="ml-[1.5rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">10th generation</a></h2>
              <h2 class="pt-1 ml-[1.5rem]"><a href="" style="color: black;font-size: 0.8rem;font-weight: 400;">The all‑new colourful <br> iPad for the things <br> you do every day.</a></h2>
              <h2 class="ml-[1.5rem] pt-[1.7rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹169900.00*</a></h2>
            </div>
            <div class="product-text">
              <a href="" style="cursor: pointer;"><img class="image" style="height:10rem;width:6rem;" src="../../../assets/scnd-ipad-4.png" alt=""></a>
              <h2 class=" mt-[1rem] ml-[1.5rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPad</a></h2>
              <h2 class="ml-[1.5rem] "><a href="" style="color: black;font-size: 1rem;font-weight: 500;">9th generation</a></h2>
              <h2 class="ml-[1.5rem] py-1"><a href="" style="color: black;font-size: 0.8rem;font-weight: 400;">All the essentials in the <br> most affordable iPad.</a></h2>
              <h2 class="ml-[1.5rem] pt-[2.8rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹169900.00*</a></h2>
            </div>
            <div class="product-text">
              <a href="" style="cursor: pointer;"><img class="image" style="height:10rem;width:8rem;" src="../../../assets/scnd-ipad-5.png" alt=""></a>
              <h2 class=" mt-[1rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPad mini</a></h2>
              <!-- <h2 class=""><a href="" style="color: black;font-size: 1rem;">M3, M3 Pro or M3 Max chip</a></h2> -->
              <h2 class="py-3 ml-[1.5rem]"><a href="" style="color: black;font-size: 0.8rem;font-weight: 400;">The full iPad <br> experience designed <br> to fit in one hand.</a></h2>
              <h2 class="ml-[1.5rem] pt-[1.3rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹169900.00*</a></h2>
            </div>
        </div>
        <hr class="w[10px] my-[6rem] w-[70rem] mx-[3rem]">
        <!------------- Grid Items  ----------->
        <div class="flex  ml-[12rem]">
          <div class="grid grid-cols-5 gap-x-[10rem] py-[4rem] gap-y-[10rem]">
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-1.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-2.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-3.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-4.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-5.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-6.png" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-6.png" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-7.png" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-6.png" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-6.png" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-8.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-9.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-9.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-10.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-11.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-12.jpg" alt=""></div>
            <div><img class="w-[30px]" src="../../../assets/image/grid-img-13.jpg" alt=""></div>
            <div><img class="w-[30px]" src="../../../assets/image/grid-img-13.jpg" alt=""></div>
            <div><img class="w-[50px]" src="../../../assets/image/grid-img-14.jpg" alt=""></div>
            <div><img class="w-[30px]" src="../../../assets/image/grid-img-13.jpg" alt=""></div>
          </div>
        </div>
</div>
</div>
<hr class="w-[70rem] mx-[3rem] my-[6rem]">
<app-footer></app-footer>