<app-navbar></app-navbar>
<!------------- Main Part ------------>
<div>
    <div class="products py-3">
        <div class="product-text">
          <img class="product-img" style="height:4rem;width: 4rem; margin-left: 2.5rem;" src="../../../assets/ipad-1.svg" alt="">
          <li style="text-align: center; margin-left:0.5rem;"><a>iPad Pro</a></li>
        </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-2.svg" alt="">
            <li style="text-align: center;"><a href="">Pad Air</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-3.svg" alt="">
            <li style="text-align: center;"><a href="">iPad</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width: 4rem;" src="../../../assets/ipad-4.svg" alt="">
            <li style="text-align: center;"><a href="">Mac mini</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-5.svg" alt="">
            <li style="text-align: center;"><a href="">Mac studio</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-6.svg" alt="">
            <li style="text-align: center;"><a href="">Compare</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-7.svg" alt="">
            <li style="text-align: center;"><a href="">Displays</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-8.svg" alt="">
            <li style="text-align: center;"><a href="">Accessories</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/ipad-9.svg" alt="">
            <li style="text-align: center;"><a href="">Sonoma</a></li>
          </div>
          <div class="product-text ">
            <img class="product-img" style="height:4rem;width:5rem;" src="../../../assets/ipad-10.svg" alt="">
            <li style="text-align: center;"><a href="">Shop Mac</a></li>
          </div>
      </div>

      <div>
        <div style="height: 40px; width: 100%;background:#F5F5F7;margin: 0%;">
          <p style="text-align: center; padding: 8px; font-size: 14px; font-weight: 400; color: black;">Save up to ₹8000.00 instantly on eligible products with HDFC Bank Credit Cards.* Plus No Cost EMI from most leading banks.#
            <a href="" style="text-decoration: none;">Shop now</a></p>
        </div>
      </div>

      <div >
        <div >
            <img class="w-[1000px]" src="../../../assets/ipad-img1.jpg" alt="">
        </div>
      </div>

</div>