<app-navbar style="height: 500px;"></app-navbar>
<div class="main">
    <h1 style="padding: 6.5rem; font-size: 2.8rem; color: gray;"><span style="color: black;">Store.</span> The best way to buy the <br> products you love.</h1>
    <div class="products">
      <div class="product-text">
        <img class="product-img" style="height:5rem;width: 6.5rem; margin-left: 3.9rem;" src="../../../assets/macbookpro.png" alt="" routerLink="/mac-product">
        <li style="text-align: center; padding-left: 7rem;padding-top: 0.5rem;"><a href="" style="color: black;"  routerLink="/mac-product" >Mac</a></li>
      </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width: 6.5rem;" src="../../../assets/iphon15pro.png" alt="" routerLink="/iphone-product">
          <li style="text-align: center;padding-top: 0.5rem;"><a href="" routerLink="/iphone-product">iPhone</a></li>
        </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width: 6.5rem;" src="../../../assets/ipadpro.png" alt="" routerLink="/ipad-product">
          <li style="text-align: center;padding-top: 0.5rem;"><a routerLink="/ipad-product">iPad</a></li>
        </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width: 7rem;" src="../../../assets/appleWatch.png" alt="">
          <li style="text-align: center;padding-top: 0.5rem;"><a href="">Apple Watch</a></li>
        </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width: 6.5rem;" src="../../../assets/airpordPro.png" alt="">
          <li style="text-align: center;padding-top: 0.5rem;"><a href="">AirPods</a></li>
        </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width:5.5rem;" src="../../../assets/appleAirtag.png" alt="">
          <li style="text-align: center;padding-top: 0.5rem;"><a href="">AirTag</a></li>
        </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width: 6.3rem;" src="../../../assets/appleTv.png" alt="">
          <li style="text-align: center;padding-top: 0.5rem;"><a href="">Apple TV 4K</a></li>
        </div>
        <div class="product-text">
          <img class="product-img" style="height:5rem;width: 6.3rem;" src="../../../assets/homepad.png" alt="">
          <li style="text-align: center;padding-top: 0.5rem;"><a href="">HomePod</a></li>
        </div>
    </div>

    <!------------ Fisrt Carousel ------------->
    <div class="product-carousel">
      <div class="heading">
        <h1 style="padding: 5.5rem; font-size: 1.8rem; color: gray;"><span style="color: black;">The latest.</span>Take a look at what’s new right now.</h1>
      </div>
        <div class="carousel" data-flickity='{ "wrapAround": true }'>
          <!-- <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone.jpg');"></div> -->
          <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone2.jpg');color: gray;font-weight: 600;">IPHONE 15 <br><span style="font-size: 1.8rem; color: black;background-color: white;font-weight: 500;">Newphoria</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">From ₹134900.00#</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-mac.jpg'); color: gray; font-weight: 600;">MACBOOK PRO 14” AND 16” <br><span style="font-size: 1.5rem; color: black;background-color: white;font-weight: 600;">Mind-blowing.<br>Head-turning.</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">From ₹169900.00#</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-watch1.jpg');color: white; font-weight: 400;">BLACK UNITY SPORT BAND <br><span style="font-size: 1.8rem; color: white;background-color:black;font-weight: 600;">Unity in bloom.</span><br><span style="background-color: black; font-weight: 400;font-size: 1rem;">₹4500.00</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-watch2.jpg');color: white;font-weight: 400;">APPLE WATCH SERIES 9 <br><span style="font-size: 1.6rem; color: white;background-color:black;font-weight: 600;">Smarter. Brighter. Mightier.</span><br><span style="background-color: black; font-weight: 400;font-size: 1rem;">From ₹41900.00#</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-laptop.jpg');color: gray;font-weight: 400;">PAYMENT OPTIONS <br><span style="font-size: 1.6rem; color: black;background-color:white;font-weight: 600;">Flexible ways to pay. <br>Plus instant savings§§ <br>and No Cost EMI§</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-ipad.jpg');color: gray;font-weight: 400;">IPAD <br><span style="font-size: 1.6rem; color: black;background-color:white;font-weight: 600;">Loveable. Drawable. <br> Magical.</span><br><span style="background-color:white; font-weight: 400;font-size: 1rem;color: black;">From ₹39900.00#</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-watch2\ \(2\).jpg'); color: gray;">APPLE WATCH ULTRA 2 <br><span style="font-size: 1.6rem; color: black;background-color:#F2F2F2;font-weight: 600;">Next-level adventure.</span><br><span style="background-color:#F2F2F2; font-weight: 400;font-size: 1rem; color: black;">From ₹89900.00#</span></div>
          <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone.jpg');color: white; font-weight: 600;">IPHONE 15 Pro<br><span style="background-color: black; font-size: 1.8rem;">Titanium</span><br><span style="background-color: black; font-weight: 400;font-size: 1rem;">From ₹134900.00#</span></div>
        </div>
    </div>

    <!------------ Second Carousel ------------->

    <div class="product-carousel">
      <div class="heading">
        <h1 style="padding: 5.5rem; font-size: 1.8rem; color: gray;"><span style="color: black;">Help is here.</span>Whenever and however you need it.</h1>
      </div>
        <div class="carousel" data-flickity='{ "wrapAround": true }'>
          <!-- <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone.jpg');"></div> -->
          <div class="scnd-carousel" style="background-image: url('../../../assets/helpcard-2.jpg');color: gray;font-weight: 600;">BUSINESS <br><span style="font-size: 1.8rem; color: white;background-color: #1D1D1F;font-weight: 500;">From enterprise to small business, we’ll work with you.2</span></div>
          <div class="scnd-carousel" style="background-image: url('../../../assets/helpcard-3.jpg'); color: gray; font-weight: 600;">TODAY AT APPLE<br><span style="font-size: 1.5rem; color: black;background-color: #CCBFAE;font-weight: 600;">Join free sessions at your Apple Store..</span><br><span style="background-color: #DBCAB8;font-weight: 400; font-size: 1rem; color: black;">Learn about the latest features and how to go further with your Apple devices.</span></div>
          <div class="scnd-carousel" style="background-image: url('../../../assets/helpcard-4.jpg');"><span style="font-size: 1.3rem; color: black;background-color:white;font-weight: 700;">Get help setting up your new device in a free Online Personal Session.</span></div>
          <div class="scnd-carousel" style="background-image: url('../../../assets/helpcard-5.jpg');color: gray; font-weight: 600;">WATCH AND LEARN<br><span style="background-color: #F8F7F5; font-size: 1.4rem;color: black;font-weight: 700;">Need support? Our teams are here for you.</span></div>
          <div class="scnd-carousel" style="background-image: url('../../../assets/helpcard1.jpg');color: gray; font-weight: 600;">APPLE SPECIALIST<br><span style="background-color: white; font-size: 1.2rem;color: black;font-weight: 700;">Shop one on one with a Specialist online.</span></div>
        </div>
    </div>

     <!------------ Third Carousel ------------->
    <div class="product-carousel">
      <div class="heading">
        <h1 style="padding: 5.5rem; font-size: 1.8rem; color: gray;"><span style="color: black;">The Apple Store difference.</span> Even more reasons to shop with us.</h1>
      </div>
        <div class="carousel" data-flickity='{ "wrapAround": true }'>
          <!-- <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone.jpg');"></div> -->
          <div class="third-carousel"><img style="width: 50px;" src="../../../assets/apple-icon.png" alt=""> <br><span style="font-size: 1.8rem; color: white;background-color: #1D1D1F;font-weight: 500;color: #F68F5F;background-color: white ;">Customise your Mac.</span></div>
          <div class="third-carousel"><img style="width: 60px;" src="../../../assets/smile-icon.png" alt=""><br><span style="font-size: 1.5rem; color: black;background-color: white;font-weight: 600;">Make them yours.</span><br><span style="background-color: white;font-weight: 600; font-size: 1.5rem; color: #AC39FF;">Engrave a mix of emoji, names and numbers for <br> free.</span></div>
          <div class="third-carousel"><img style="width: 50px;" src="../../../assets/noun-atm-card-5916582.png" alt=""><br><span style="font-size: 1.6rem; color: #68CC45;background-color:white;font-weight: 700;">Flexible ways to pay. <br></span><span style="font-size: 1.6rem; color: black;background-color:white;font-weight: 700;">Plus instant savings§§ <br>and No Cost EMI.§</span></div>
          <div class="third-carousel" style="background-color: #F8F7F5; font-size: 1.7rem;color: black;font-weight: 600;"><img style="width: 70px;height: 70px;" src="../../../assets/noun-van-2423521.png" alt=""><br><span style="background-color: #F8F7F5; font-size: 1.7rem;color: #68CC45;font-weight: 600;">Enjoy free delivery, or <br> easy pickup </span>from an <br> Apple Store.</div>
          <div class="third-carousel" style="color: gray; font-weight: 600;"><img style="width:50px;" src="../../../assets/computer-internet-network-icon.png" alt=""><br><br><span style="font-size: 1.2rem;color: black;font-weight: 700;padding-bottom:10rem;">Exchange your smartphone, get ₹15000.00 – ₹62300.00 in credit towards a new one.*</span></div>
        </div>
    </div>

        <!------------ Fourth Carousel ------------->
        <div class="product-carousel">
          <div class="heading">
            <h1 style="padding: 5.5rem; font-size: 1.8rem; color: gray;"><span style="color: black;">Accessories.</span>Essentials that pair perfectly with your favourite devices.</h1>
          </div>
            <div class="carousel" data-flickity='{ "wrapAround": true }'>
              <!-- <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone.jpg');"></div> -->
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-2.jpg') ;background-size: 250px;background-position: 3rem 5rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">45mm Black Unity<br>Sport Band - Unity Bloom - M/L</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹4500.00 (Incl. of all taxes)</span></div>
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-3.jpg');background-size: 250px;background-position: 3rem 5rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">Apple Pencil (USB-C).</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹7900.00 (Incl. of all taxes)</span></div>
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-4.jpg');background-size: 250px;background-position: 3rem 5rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">iPhone 15 Pro FineWoven Case<br>with MagSafe - Taupe</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹5900.00 (Incl. of all taxes)</span></div>
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-5.jpg');background-size: 250px;background-position: 3rem 3rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">iPhone FineWoven Wallet with MagSafe - Mulberry</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹5900.00 (Incl. of all taxes)</span></div>
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-6.jpg');background-size: 250px;background-position: 3rem 3rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end;"><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">45mm Winter Blue Sport Loop.</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹5900.00 (Incl. of all taxes)</span></div>
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-7.jpg');background-size: 250px;background-position: 3rem 3rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color:white;font-weight: 600;">iPhone 15 Silicone Case with<br>MagSafe - Light Pink </span><br><span style="background-color:white; font-weight: 400;font-size: 1rem;color: black;">MRP ₹4900.00 (Incl. of all taxes)</span></div>
              <div class="four-carousel" style="background-image: url('../../../assets/product-four-1.jpg');color: black; font-weight: 500;"><span style="background-color: white; font-size: 1.5rem;">In with the new.</span><br><span style="background-color: white; font-weight: 400;font-size: 1rem;">Discover fresh new colours for your<br>favourite accessories.</span></div>
            </div>
        </div>


        <!------------ Five Carousel ------------->
        <div class="product-carousel">
          <div class="heading">
            <h1 style="padding: 5.5rem; font-size: 1.7rem; color: gray;"><span style="color: black;">Loud and clear.</span> Unparalleled choices for rich, high-quality sound.</h1>
          </div>
            <div class="carousel" data-flickity='{ "wrapAround":true}'>
              <!-- <div class="carousel-cell" style="background-image: url('../../../assets/product-iphone.jpg');"></div> -->
              <div class="five-carousel"  style="background-image: url('../../../assets/product-five-2.jpg');background-size: 250px;background-position: 3rem 5rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">Free Engraving<br><span style="font-size: 1.1rem; color: black;background-color: white;font-weight: 500;">AirPods Pro (2nd generation)<br>with MagSafe Charging Case...</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹24900.00 (Incl. of all taxes)</span></div>
              <div class="five-carousel" style="background-image: url('../../../assets/product-five-3.jpg');background-size: 250px;background-position: 3rem 5rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);"><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">HomePod - Midnight</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹32900.00 (Incl. of all taxes)</span></div>
              <div class="five-carousel" style="background-image: url('../../../assets/product-five-4.jpg');background-size: 250px;background-position: 3rem 5rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);"><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">HomePod mini - Yellow</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹10900.00 (Incl. of all taxes)</span></div>
              <div class="five-carousel" style="background-image: url('../../../assets/product-four-5.jpg');background-size: 250px;background-position: 3rem 3rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">iPhone FineWoven Wallet with MagSafe - Mulberry</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹5900.00 (Incl. of all taxes)</span></div>
              <div class="five-carousel" style="background-image: url('../../../assets/product-four-6.jpg');background-size: 250px;background-position: 3rem 3rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end;"><span style="font-size: 1.2rem; color: black;background-color: white;font-weight: 500;">45mm Winter Blue Sport Loop.</span><br><span style="background-color: white;font-weight: 400; font-size: 1rem; color: black;">MRP ₹5900.00 (Incl. of all taxes)</span></div>
              <div class="five-carousel" style="background-image: url('../../../assets/product-four-7.jpg');background-size: 250px;background-position: 3rem 3rem;font-weight: 600;display: flex;flex-direction: column;justify-content: end; color: rgb(239, 158, 76);">New<br><span style="font-size: 1.2rem; color: black;background-color:white;font-weight: 600;">iPhone 15 Silicone Case with<br>MagSafe - Light Pink </span><br><span style="background-color:white; font-weight: 400;font-size: 1rem;color: black;">MRP ₹4900.00 (Incl. of all taxes)</span></div>
              <div class="five-carousel" style="background-image: url('../../../assets/product-five-1.jpg');color: black; font-weight: 600;"><span style="background-color: white; font-size: 1.5rem;">Get 6 months of <br> Apple Music free.</span><br><span style="background-color: white; font-weight: 400;font-size: 1rem;">Included with your iPhone, HomePod, or AirPods.⁺</span></div>
            </div>
        </div>
</div><br><br>
<app-footer></app-footer>


