<div
  class="md:flex md:items-center md:justify-center bg-zinc-900 sm:flex sm:items-center w-100"
>
  <div>
    <ul
      class="text-neutral-300 flex gap-[6rem] justify-center text-xs font-semibold bg-zinc-900 p-[13px]"
    >
      <li>
        <a routerLink="/home"
          ><i class="fa-brands fa-apple" style="font-size: 18px"></i
        ></a>
      </li>
      <li><a routerLink="/store">Store</a></li>
      <li><a routerLink="/mac">Mac</a></li>
      <li><a routerLink="/ipad">iPad</a></li>
      <li><a routerLink="/iphone">iPhone</a></li>
      <!-- <li><a routerLink="/">Watch</a></li>
          <li>AirPods</li>
          <li>TV & Home</li> -->
      <li><a routerLink="/support">Support</a></li>
    <div *ngIf="isLoggedIn">
      <a  routerLink="/signup">SignUp &nbsp;<i class="fa-solid fa-user"></i></a>
      <a style="padding-left: 5rem;" routerLink="/login">Login &nbsp;<i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
    <div *ngIf="isLogoutBtn">
      <button (click)="logout()" routerLink="/login">Logout</button>
    </div>
    
      <!-- <li><a routerLink="/signup"><i class="fa-solid fa-magnifying-glass"></i></a></li> -->
      <li>
        <a style="cursor: pointer" (click)="toggleBagMenu()"
          ><i class="fa-solid fa-bag-shopping"></i
        ></a>
      </li>
    </ul>
    <div *ngIf="BagMenu" class="bag-menu">
      <!-- Your bag menu content goes here -->
      <h1 class="text-white text-2xl py-[2rem]">Your Bag is empty.</h1>
      <ul class="text-white">
        <li class="font-medium">My Profile</li>
        <li>
          <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<a href=""
            >Profile</a
          >
        </li>
        <li>
          <a routerLink=""
            ><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Cart</a
          >
        </li>
        <li>
          <a routerLink=""
            ><i class="fa-regular fa-heart"></i>&nbsp;&nbsp;Wishlist</a
          >
        </li>
        <li>
          <i class="fa-solid fa-cube"></i>&nbsp;&nbsp;<a href=""
            >Your Orders</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
