   <div class="md:flex md:items-center md:justify-center bg-zinc-900 sm:flex sm:items-center w-100">
      <div class=" ">
        <ul class="text-neutral-300 flex gap-[7rem] justify-center text-xs font-semibold bg-zinc-900 p-[13px]">
          <li><a routerLink="/home" ><i class="fa-brands fa-apple" style="font-size:18px;"></i></a></li>
          <li><a routerLink="/store">Store</a></li>
          <li><a routerLink="/mac">Mac</a></li>
          <li><a routerLink="/ipad">iPad</a></li>
          <li><a routerLink="/iphone">iPhone</a></li>
          <!-- <li><a routerLink="/">Watch</a></li>
          <li>AirPord</li>
          <li>TV & Home</li> -->
          <li><a routerLink="/support">Support</a></li>
          <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
          <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
        </ul>
      </div>
   </div>