<app-navbar></app-navbar>
<!---------------- Main Div -------------->
<div class="w-100">
    <!----------- First image ------------>
    <div>
        <img class="w-100 h-[490px]" src="../../../assets/image/support-img-1.jpg" alt="">
    </div>
    <div>
        <h1 class="text-center py-[3rem] text-6xl font-medium bg-white">Apple Support</h1>
    </div>

    <!------------- Product -------------->
    <div class="products" style="padding-top: 2.5rem; display: flex;justify-content: center; background-color:rgb(255, 255, 255);text-align: center;width: 100%; height: 200px;">
        <div class="product-text">
          <a style="cursor: pointer;"><img class="image" style="height:5rem;width: 2.5rem;" src="../../../assets/image/iphone-product-1.png" alt=""></a>
          <h2 class="mt-[1rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 400;">iPhone</a></h2>
        </div>
          <div class="product-text">
            <a style="cursor: pointer;"><img class="image" style="height:5rem;width:6rem;" src="../../../assets/image/iphone-product-2.png" alt=""></a>
            <h2 class=" mt-[1rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 400;">Mac</a></h2>
          </div>
          <div class="product-text">
            <a href="" style="cursor: pointer;"><img class="image" style="height:5rem;width:6rem;" src="../../../assets/image/iphone-product-3.png" alt=""></a>
            <h2 class="mt-[1rem] "><a href="" style="color: black;font-size: 1rem;font-weight: 400;">iPad</a></h2>
          </div>
          <div class="product-text">
            <a href="" style="cursor: pointer;"><img class="image" style="height:5rem;width:4rem;" src="../../../assets/image/iphone-product-4.png" alt=""></a>
            <h2 class=" mt-[1rem]"><a href="" style="color: black;font-size: 1rem;font-weight:400;">Watch</a></h2>
          </div>
          <div class="product-text">
            <a href="" style="cursor: pointer;"><img class="image" style="height:5rem;width:4rem;" src="../../../assets/image/iphone-product-5.png" alt=""></a>
            <h2 class=" mt-[1rem] "><a href="" style="color: black;font-size: 1rem;font-weight: 400;">AirPods</a></h2>
          </div>
          <div class="product-text">
            <a href="" style="cursor: pointer;"><img class="image" style="height:5rem;width:4rem;" src="../../../assets/image/iphone-product-6.png" alt=""></a>
            <h2 class=" mt-[1rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 400;">Music</a></h2>
          </div>
          <div class="product-text">
            <a href="" style="cursor: pointer;"><img class="image" style="height:5rem;width:6rem;" src="../../../assets/image/iphone-product-7.png" alt=""></a>
            <h2 class=" mt-[1rem] "><a href="" style="color: black;font-size: 1rem;font-weight:400;">TV</a></h2>
          </div>
      </div>
      <!------------------- Third Part Image ---------------->
      <div class="w-100">
          <div class=" rounded-md w-9/12 ml-[10rem] bg-white">
            <h1 class="text-center py-[2rem] text-4xl font-medium">Apple Support on YouTube</h1>
            <p class="text-center">Check out our official YouTube channel to help you get the most from your Apple devices and services.</p>
            <img class="mt-[5rem]" src="../../../assets/image/suppoort-theird-1.png" alt="">
        </div>
          <div class=" rounded-md w-9/12 ml-[10rem] bg-white pt-[5rem]">
            <h1 class="text-center py-[2rem] text-4xl font-medium">Join free sessions at your Apple Store</h1>
            <p class="text-center">Check out our official YouTube channel to help you get the most from your Apple devices and services.</p>
            <img class="mt-[5rem]" src="../../../assets/image/suport-theird-2.png" alt="">
        </div>
      </div>
</div>

<app-footer></app-footer>
