<app-navbar [logot]="(logbtn)"></app-navbar>
<!----------------------------- Home Page ------------------------>
<div style="height: 40px; width: 100%;background:#1D1D1F;">
  <p style="text-align: center; padding: 8px; font-size: 14px; font-weight: 400; color: white;">Save up to ₹8000.00 instantly on eligible products with HDFC Bank Credit Cards.* Plus No Cost EMI from most leading banks.#
    <a href="" style="text-decoration: none;">Shop now</a></p>
</div>
<main>
    <!-------------------- First Part image ----------------->
    <div class="intro" >
      <h1 style="position: absolute; top: 8rem; color: white;font-size: 3rem;font-weight: 600;">iPhone 15 Pro</h1>
      <h3 style="color: white; position: relative; top: -12rem; font-weight: 500;font-size:23px;">
        Titanium.So strong.So light.So Pro.</h3>
    </div>
    <!----------------- Second Part image ------------------>
    <div class="secnd-intro" >
      <h1 style="position: absolute; top: 50rem;font-size: 3rem;font-weight: 600;">iPhone 15 Pro</h1>
      <h3 style="color: rgb(0, 0, 0); position: relative; top: -11rem; font-weight: 500;font-size: 22px;">
        New cemara. New design. Newphoria</h3>
    </div>
    <!------------------ Third Part image -------------------->
    <div class="third-intro">
      <h1 style=" position: relative; top: 10rem; color: white;font-size: 3rem;"><i class="fa-brands fa-apple" style="font-size:3rem; "></i>WATCH
        <br><span style="font-size: 1.2rem; margin-left: 3rem; position: relative; top: -1.7rem; word-spacing: -0.1rem;">S E R I E S <span style="padding: 0.3rem;">9</span></span></h1>
      <h3 style="color: white; position: relative; top: 8.5rem; font-weight: 500;font-size: 22px;">Double tap.A magical new way to use Apple Watch.</h3>
      <div class="intro-button">
        <button style=" position: relative; top:9rem; border-radius: 1.5rem; padding: 0.8rem; border-style: none; width: 7rem; height: 3rem;">Learn More</button>
        <button style=" position: relative; top:9rem; border-radius: 1.5rem; padding: 0.8rem; border-style: none; margin-left: 1rem; width: 5rem; height: 3rem;">Buy</button>
      </div>
    </div>
    <!----------- Grid Part image ------------>
    <div class="grid-container">
      <div class="item1">
        <!-- <p style="padding-bottom: 600px;">MacBook Pro</p>
        <p style="padding-bottom: 320px; font-weight: 400; font-size: 25px;">Mac Book</p> -->
      </div>
      <div class="item2"></div>
      <div class="item3"></div>  
      <div class="item4"></div>
      <div class="item5"></div>
      <div class="item6"></div>
    </div>
    <!------------- Tab Bar --------------->
    <!-- <p><code>wrapAround: true</code></p> -->
    <div class="carousel" data-flickity='{"autoPlay":true}'>
      <!--  -->
  <div class="carousel-cell" style="background-image: url('https://image.tmdb.org/t/p/w1280/5xklJu6THTLeRPjmwnU4Rk5BONI.jpg');"></div>
  <div class="carousel-cell" style="background-image: url('https://assets-in.bmscdn.com/discovery-catalog/events/et00365290-xhtblkwakp-landscape.jpg');"></div>
  <div class="carousel-cell" style="background-image: url('https://resizing.flixster.com/h4vIvqxOmZ22MMnskmWdvdAYSis=/fit-in/705x460/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p25598861_b_h8_ad.jpg');"></div>
  <div class="carousel-cell" style="background-image: url('https://i.ytimg.com/vi/LIsfMO5Jd_w/maxresdefault.jpg');"></div>
  <div class="carousel-cell" style="background-image: url('https://m.media-amazon.com/images/M/MV5BMjZhMWRjZmUtYjJmNi00MmNiLWJkNGMtZWE2YTlmYTBhNzU4XkEyXkFqcGdeQXVyOTAzNjI5NDQ@._V1_.jpg');"></div>
  <div class="carousel-cell" style="background-image: url('../../../assets/home-carousel.jpg');background-repeat: no-repeat;"></div>
</div>
  </main><br><br>

<!------------ Footer Section ------------>
<app-footer></app-footer>