<app-navbar></app-navbar>

<!------------- Main Part ------------>
<div>
    <div class="products py-3">
        <div class="product-text">
          <img class="product-img" style="height:4rem;width: 4rem; margin-left: 1rem;" src="../../../assets/image/iphone-nav-1.svg" alt="">
          <li style="text-align: center; margin-left:0.5rem;"><a>iPhone 15 Pro</a></li>
        </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-1.svg" alt="">
            <li style="text-align: center;"><a href="">iPhone 15</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-1.svg" alt="">
            <li style="text-align: center;"><a href="">iPhone 14</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width: 4rem;" src="../../../assets/image/iphone-nav-2.svg" alt="">
            <li style="text-align: center;"><a href="">iPhone 13</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-2.svg" alt="">
            <li style="text-align: center;"><a href="">iPhone SE</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-8.svg" alt="">
            <li style="text-align: center;"><a href="">Cpmpare</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-4.svg" alt="">
            <li style="text-align: center;"><a href="">AirPods</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-1.svg" alt="">
            <li style="text-align: center;"><a href="">AirTag</a></li>
          </div>
          <div class="product-text">
            <img class="product-img" style="height:4rem;width:4rem;" src="../../../assets/image/iphone-nav-6.svg" alt="">
            <li style="text-align: center;"><a href="">Accessories</a></li>
          </div>
          <div class="product-text ">
            <img class="product-img" style="height:4rem;width:5rem;" src="../../../assets/image/iphone-nav-1.svg" alt="">
            <li style="text-align: center;"><a href="">iOS 17</a></li>
          </div>
          <div class="product-text ">
            <img class="product-img" style="height:4rem;width:5rem;" src="../../../assets/image/iphone-nav-7.svg" alt="">
            <li style="text-align: center;"><a href="">Shop iPhone</a></li>
          </div>
      </div>

      
      <!------------ Just Paragraph ----------------->
      <div>
        <div style="height: 40px; width: 100%;background:#1D1D1F;margin: 0%;">
          <p style="text-align: center; padding: 8px; font-size: 14px; font-weight: 400; color: white">Save up to ₹8000.00 instantly on eligible products with HDFC Bank Credit Cards.* Plus No Cost EMI from most leading banks.#
            <a href="" style="text-decoration: none;">Shop now</a></p>
        </div>
      </div>

      <!-------------------- First Part image ----------------->
      <div class="intro" >
        <h1 style="position: absolute; top: 15rem; color: white;font-size: 3rem;font-weight: 600;">iPhone 15 Pro</h1>
        <h3 style="color: white; position: relative; top: -12rem; font-weight: 500;font-size:23px;">
          Titanium.So strong.So light.So Pro.</h3>
      </div>

          <!----------------- Second Part image ------------------>
    <div class="secnd-intro" >
        <h1 style="position: relative; top: -15rem;font-size: 3rem;font-weight: 600;">iPhone 15</h1>
        <h3 style="color: rgb(0, 0, 0); position: relative; top: -13rem; font-weight: 500;font-size: 22px;">
          New cemara. New design. Newphoria</h3>
      </div>

          <!----------------- Third Part image ------------------>
      <div class="third-intro">
        <!-- img -->
      </div> 

        <!------------ image frame --------------->
        <div class="w-100 px-[1.2rem] pt-[-20rem]">
            <img class="w-100" autoplay loop style="border-radius: 1rem;" src="../../../assets/image/iphone-2.jpg" >
        </div>
            <!-------------- Third Part This Page ------------->

            <div class="w-[1225px] bg-slate-50 mx-[20px]">
              <h1 class="pt-[5rem] text-center text-5xl font-semibold">Which iPhone is right for you?</h1>
              <div class="products" style="padding-top: 6rem; display: flex;justify-content: center; background-color:rgb(248 250 252); gap: 2.5rem;">
                <div class="product-text">
                  <a style="cursor: pointer;"><img class="image" style="height:16rem;width: 12rem;" src="../../../assets/image/iphone-3.png" alt=""></a>
                  <h2 class="mt-[1rem] ml-[1.5rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPhone15Pro</a></h2>
                  <!-- <h2 class="ml-[1.5rem]"><a href="" style="color: black;font-size: 1rem;">M1 chip</a></h2> -->
                  <h2 class="ml-[1.5rem] py-3"><a href="" style="color: black;font-size: 1.2rem;font-weight: 400;">The ultimate iPhone.</a></h2>
                  <h2 class="ml-[1.5rem] py-5"><a href="" style="color: black;font-size: 1rem;font-weight: 600;">From ₹134900.00*</a></h2>
                </div>
                  <div class="product-text">
                    <a style="cursor: pointer;"><img class="image" style="height:16rem;width:12rem;" src="../../../assets/image/iphone-4.png" alt=""></a>
                    <h2 class=" mt-[1rem] ml-[1.5rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iphone15</a></h2>
                    <!-- <h2 class=""><a href="" style="color: black;font-size: 1rem;">M2 chip</a></h2> -->
                    <h2 class="py-3 ml-[1.5rem]"><a href="" style="color: black;font-size: 1.2rem;font-weight: 400;">A total powerhouse.</a></h2>
                    <h2 class="ml-[1.5rem] py-5"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹79900.00*</a></h2>
                  </div>
                  <div class="product-text">
                    <a href="" style="cursor: pointer;"><img class="image" style="height:16rem;width:12rem;" src="../../../assets/image/iphone-5.png" alt=""></a>
                    <h2 class="mt-[1rem] ml-[1.5rem] "><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPhone14</a></h2>
                    <!-- <h2 class="ml-[1.5rem]"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">10th generation</a></h2> -->
                    <h2 class="py-3 ml-[1.5rem]"><a href="" style="color: black;font-size: 1.2rem;font-weight: 400;">As amazing as ever.</a></h2>
                    <h2 class="ml-[1.5rem] py-5"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹69900.00*</a></h2>
                  </div>
                  <div class="product-text">
                    <a href="" style="cursor: pointer;"><img class="image" style="height:16rem;width:10rem;" src="../../../assets/image/iphone-6.png" alt=""></a>
                    <h2 class=" mt-[1rem] ml-[1.5rem]"><a href="" style="color: black;font-size: 1.5rem;font-weight: bold;">iPhone</a></h2>
                    <!-- <h2 class="ml-[1.5rem] "><a href="" style="color: black;font-size: 1rem;font-weight: 500;">9th generation</a></h2> -->
                    <h2 class="ml-[1.5rem] py-3"><a href="" style="color: black;font-size: 1.2rem;font-weight: 400;">Serious power. <br> Serious value.</a></h2>
                    <h2 class="ml-[1.5rem] py-4"><a href="" style="color: black;font-size: 1rem;font-weight: 500;">From ₹49900.00*</a></h2>
                  </div>
              </div>
              <hr class="w[10px] my-[6rem] w-[70rem] mx-[3rem]">
              <!------------- Grid Items  ----------->
              <div class="flex  ml-[12rem]">
                <div class="grid grid-cols-4 gap-x-[13rem] py-[4rem] gap-y-[10rem]">
                  <div><img class="w-[55px]" src="../../../assets/image/grid-iphone-1.png" alt=""></div>
                  <div><img class="w-[55px]" src="../../../assets/image/grid-iphone-1.png" alt=""></div>
                  <div><img class="w-[55px]" src="../../../assets/image/grid-iphone-1.png" alt=""></div>
                  <div><img class="w-[55px]" src="../../../assets/image/grid-iphone-1.png" alt=""></div>
                  <div><img class="w-[55px]" src="../../../assets/image/grid-iphone-2.png" alt=""></div>
                  <div><img class="w-[55px]" src="../../../assets/image/grid-iphone-2.png" alt=""></div>
                  <div><img class="w-[55px]" src="" alt="">-</div>
                  <div><img class="w-[55px]" src="" alt="">-</div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-iphone-3.png" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-iphone-4.png" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-img-5.jpg" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-img-5.jpg" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-iphone-5.png" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-iphone-7.png" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-iphone-7.png" alt=""></div>
                  <div><img class="w-[50px]" src="../../../assets/image/grid-iphone-8.png" alt=""></div>
                </div>
              </div>
              <hr class="my-[6rem] w-[70rem] mx-[3rem]">
      </div>
</div>
<app-footer></app-footer>